!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.no-icons.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Rosario|Inconsolata')
    link(rel='stylesheet', href='../tomato.css')
    //if lte IE 8
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
    - if (settings.analytics)
      script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{settings.analytics}']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    title #{tomato.slug} | Tomato
  body
    #view(ng-view)

    script(type='text/ng-template', id='/index.html')
      #title
        .container
          #prefs.pull-right
            i.icon-volume-up.toggler(ng-class='{ muted: !doSound }', ng-click='doSound=!doSound')
            i.icon-bullhorn.toggler(ng-class='{ muted: !doAlert }', ng-click='doAlert=!doAlert')
            i.icon-globe(ng-class='{ muted: !geo.latitude }')
          h1(ng-hide='ui.edit', ng-click='edit()')
            = "{{ tomato.slug }}"
            small= " ({{ tomato.workMin }})"
          form.form-inline(ng-submit='update()', ng-show='ui.edit')
            .controls.controls-row
              input#slug.span4(ng-model='tomato.slug', type='text')
              input.span1(ng-model='tomato.workMin', type='text')
              button.span1.btn.btn-primary(type='submit') Save
      #controls
        .container
          form.pull-right
            #filter.input-prepend
              span.add-on: i.icon-search
              input.span2(ng-model='ui.filter', type='text', placeholder='Filter')
          form.pull-right
            .input-append
              input.span1(ng-model='ui.brake.name', type='text', size='5')
              button.btn(ng-click='startBreak()') Break
          form(ng-submit='addTask()')
            .controls.controls-row
              input#cr.span6(ng-model='ui.task.name', placeholder='Add a task...', type='text')
      #tasks.container
        .task(ng-repeat='task in tasks | filter:ui.filter | orderBy:ui.order',
              ng-class='{ finished: task.finishedAt > task.createdAt }',
              ng-controller='TaskCtrl',
              ng-dblclick='start()')
          .row
            .span6
              .name {{ task.name }}
            .span4.tomatoes
              = '&nbsp;'
              i.icon-star(ng-repeat='work in works()')
            .span2.icons
              i.icon-ok(ng-click='finish()', ng-class='{ on: task.finishedAt > task.createdAt }')
              i.icon-flag(ng-click='flag()', ng-class='{ on: task.priority > 0 }')
              i.icon-trash(ng-click='remove()')
      #timer.modal.fade(ng-class='{ work: timer.work, brake: timer.brake }', ng-controller='TimerCtrl')
        .modal-body
          h1 {{ timer.name }}
          #clock(clock)
          form(ng-show='timer.brake')
            button.btn.btn-info(ng-click='finishBreak()') I'm Back!

    script(type='text/ng-template', id='/report.html')
      .row
        p Report: {{title()}}

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js')
    script(src='../tomato.js')
    script
      $(function() { require('tomato') })
