!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='Use the Pomodoro Technique to organize and track your tasks, all from a browser window. Incorporate work and breaks easily into your schedule!')
    meta(name='keywords', content='pomodoro technique, task list, time management')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Rosario|Inconsolata')
    link(rel='stylesheet', type='text/css', href='#{basepath}/css/tomato.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js')
    script(src='#{basepath}/tomato-desktop.js')
    - if (analytics)
      script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{analytics}']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    script
      $(function() {
        var tomato = require('tomato');
        tomato.initialize("#{basepath}", "#{tomato.slug}", #{tomato.workSec}, #{tomato.breakSec});
        $("#tasks").sortable({axis: 'y', containment: 'parent', items: 'li.task'});
        $("#tasks").disableSelection();
      });
    title #{tomato.slug} | Tomato
  body
    #about.modal
      .ps
        p.
          Welcome! This is a browser-based tool for keeping track of tasks and
          enhancing productivity using the <a
          href="http://www.pomodorotechnique.com" target="_blank">Pomodoro
          Technique</a>.
        p.
          To get started, type in the names of a few tasks. When you're ready to
          work, double-click a task. The timer starts, the app dims, and a hand
          points at the task you're focused on. Work on your task until the bell
          rings. After finishing a "tomato" of work, the timer changes to indicate
          break mode. Take a short break by clicking on the timer again; get up
          and walk around a little. When the break is over, double-click a task
          and get back to work!
        p.
          When you've finished a task, click the check mark next to its name. Over
          time, you'll be able to see the tasks you've completed, and how many
          "tomatoes" they've each needed.
        p.
          You can use the keyboard, too: <b>+</b> adds a new task, <b>/</b>
          filters the task list, <b>space bar</b> starts the timer for the
          current task, <b>J</b> and <b>K</b> move the cursor up and down the
          task list, <b>F</b> marks the current task as finished, and
          <b>enter</b> edits the current task.
        p.
          This tool is very much a work in progress. I would enjoy hearing what
          you think of it! Email me at leif@leifjohnson.net, or <a target="_blank"
          href="http://github.com/lmjohns3/express-tomato">fork the code</a>.

      button(onclick='javascript:$("#about").fadeOut(300)') OK

    #settings.modal
      p: b Settings!

      button(onclick='javascript:$("#settings").fadeOut(300)') Done

    #app
      #header
        a#halp.tool-button(onclick='javascript:$("#about").fadeToggle(300)') ?
        a#config.tool-button(onclick='javascript:$("#settings").fadeToggle(300)') &#x2699
        input#filter(type='text', value='', size='15', placeholder='☂')
        #fmogh: a(target='_blank', href='http://github.com/lmjohns3/express-tomato') FMOGH
        #timer
        #title
          span.slug= tomato.slug
          input(class='input', type='text', value='', size='12')
        input#new-task(type='text', value='', size='40', placeholder='Add a task...')
      #screen
      ul#tasks

    script(type='text/template', id='task-template')
      .icon.cursor(title='make this the current task') &#x261e;
      .icon.finish(title='mark this task as finished') &#x2714;
      .icon.remove(title='remove this task') &#x2718;
      .timestamp <%= timestamp %>
      input.input(type='text', value='', size='25')
      .name <%= escapedName %>
      .tomatoes
